<div class="container-fluid">
    <section class="row">
        <div class="col-sm-12 p-0 m-0">
            <div class="header">
                <div class="gradient-bg side-nav p-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="logo mx-auto">
                                Lorem
                            </div>
                        </div>
                        <div class="col-12 mt-4 text-center">
                            <div class="search-input">
                                <input type="text">
                                <div class="icon">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 my-4 nav-links">
                            <ul class="m-0 list p-0 text-white">
                                <li class="mb-2" *ngFor="let item of [].constructor(5); let i = index">Lorem ipsum</li>
                            </ul>
                            <div class="bold-text mb-2">Lorem ipsum dolor</div>
                            <ul class="m-0 list p-0 text-white">
                                <li class="mb-2" *ngFor="let item of [].constructor(2); let i = index">Lorem ipsum</li>
                            </ul>
                        </div>
                        <div class="col-12 my-4 footer">
                            <div class="bold-text">
                                CONTACTEZ-NOUS
                            </div>
                            <app-social></app-social>
                        </div>
                    </div>
                </div>
                <div class="px-0 slider">
                    <app-slider [images]="images"></app-slider>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-12">
            <div class="heading-block">
                PRENDRE CONTACT
            </div>
        </div>
        <div class="col-sm-12 p-0">
            <div class="contact-block">
                <div class="left-block text-white gradient-bg">
                    <div>
                        <h2>CONTACTEZ-NOUS</h2>
                        <h3>Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, doloremque eum? Aliquid laudantium ab saepe aliquam, cum ipsum nihil doloremque quae maxime nobis optio, deleniti nostrum dolore eum delectus vitae!</p>
                    </div>

                </div>
                <div class="right-block">
                    <input type="text" placeholder="Nom*" *ngFor="let item of [].constructor(6); let i = index">
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col-sm-12 p-0">
            <div class="contact-form text-white">
                <h2>COMMENT POUVONS NOUS VOUS AIDEZ ?</h2>
                <textarea placeholder="Message..." name="" id="" cols="30" rows="10"></textarea>
                <div class="checkbox-c">
                    <div class="checkbox mb-3">
                        <input type="checkbox" class=" mr-1" name="check-1" id="check-1">
                        <span for="check-1"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui magnam et
                            tenetur eum, perspiciatis repellat enim expedita iure fuga, quo quasi adipisci veritatis
                            voluptate debitis ipsa quis nisi incidunt est.</span>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" class=" mr-1" name="check-2" id="check-2">
                        <span for="check-1"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat
                            reprehenderit ab dolorem harum facilis. Magni praesentium sint, harum, quos deserunt odio
                            quidem suscipit nam ullam temporibus veniam. Similique, modi alias?</span>
                    </div>

                </div>
                <div class="col-sm-12 pt-3 pb-2 text-right">
                    <button class=" button font-weight-bold bg-green color-green text-white text-uppercase">acconpagnement</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="gradient-bg row">
        <div class="col-sm-12 p-0">
            <div class="social-c w-100">
                <app-social></app-social>

            </div>
        </div>


    </footer>
</div>